{% extends "personal/header.html" %}
{% block content %}


<p>hello world</p>

&nbsp;
&nbsp;
&nbsp;
&nbsp;
{% for i in results %}

        
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src='cross.jpg' alt="You are having problem with your internet">
        <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">Desktption: {{i.descriptions}}  </p>
        <p class="card-text"> by:{{i.Author}}</p>
          
        <a href="http://127.0.0.1:8000/posts/{{i.id}}" class="btn btn-primary">read the article.</a>
        <button type="button" class="btn btn-danger">Like <span class="badge badge-light">{{i.likes}}</span>  <span class="badge badge-light">{{i.views}}</span> </button>
          
          
        </div>

        
        
        

</div>
&nbsp;
&nbsp;
&nbsp;

    
{% endfor %}

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}