

{% extends "personal/header.html" %}
{% load mathfilters %}
{% block content %}



<div class="container-fluid">

	


	<div class="card" style="width: 18rem;">
		<h3>{{Video.title}}</h3>
		
        <video width="640" height="360" controls>
			
			<source src="{{Video.post_file.url}}" type="video/mp4">
			
		  Your browser does not support the video tag.
		  </video>
        
        
        
        

	</div>	
	

	        <div class="col-sm-12 col-md-5">
	            <div class="panel panel-default">
	                <div class="panel-body">
						
						<h3></h3>  <h3>views </h3><p>{{Video.viewss}}</p>  <h3 id="like_count">Likes:{{Video.likes}}</h3>  


						 
					
						
						 <button  id = "unlikebutton"  href = "#"class="likebutton" id="like{{Video.id}}" data-catid="{{Video.id}}">{{likedpost.Text_Button}}</button>
						

					
						 
						 <p>{{Last_time2 }}</p>
						 {% block javascript %}
    {{ block.super }}
{% endblock %}
						 <script type="text/javascript">
						 $('.likebutton').click(function(){
							var catid;

							catid = $(this).attr("data-catid");
							$.ajax(
								{
									type:"GET",
									url: "/likepost",
									data:{

										post_id: catid

									},

									success:function( data )
									{

										var ParsedData = JSON.parse(data)

										
										

										$('#like_count').html(ParsedData.Likes);
										$('#unlikebutton').text(ParsedData.TextButton);

										



									}



								})



						 });
							 



						 
						 
						 
						 
						 </script>





<!---
dd

<script type="text/javascript">
	$('.likebutton').click(function(){
	   var catid;

	   catid = $(this).attr("data-catid");
	   $.ajax(
		   {
			   type:"GET",
			   url: "/unlikepost",
			   data:{

				   post_id: catid

			   },

			   success:function( data )
			   {
				   $('#unlikebutton').html(data);
				   $('message').text(data);

				   



			   }



		   })



	});
		



	
	
	
	
	</script>
	-->



	<form class= "form-comment-ajax" method= 'POST'  class="form" action="http://127.0.0.1:8000/comments/{{Video.id}}" >
						 <h3>Comments:</h3>   <div class="form-group">
						<label for="exampleFormControlTextarea1">Comment this video:</label>


						{% if user.username %}
						
							{% csrf_token %}
							{{form}}
							

							<button  id = "unlikebutton"  href = "#"class="likebutton" id="like{{Video.id}}" data-catid="{{Video.id}}">comment</button>


					
						{% endif %}


						{% if not user.username %}
						<p>You must log in to comment.</p>
						<a href="http://127.0.0.1:8000/webapp/" class="btn btn-primary">Log in</a>

						{% endif %}
					  </div> 

					</form>
					  
					  
					 

	                    <ul>
							

							<div class="comments">
								<p id="Commentss"></p>
								{% if Video.comments.all.count > 0 %}
									{% for comment in Video.comments.all %}
										<p >{{ comment.message }}</p> 
				
										
										
									{% endfor %}

								{% endif %}

								
							</div>
	                        
						</ul>
					
	                </div>
	            </div>
	        </div>


	    </div>


	</div>


	<script type="text/javascript">
		$(document).ready(function(){
		   var commentForm = $(".form-comment-ajax")
		   var catid;

							catid = $(this).attr("data-catid");

			commentForm.submit(function(event)
			{
				


				event.preventDefault();
				var thisform = $(this)
				var actions = "http://127.0.0.1:8000/comments/{{Video.id}}";
				var methods = thisform.attr("method");
				var formData = thisform.serialize();




				$.ajax({

				url: actions,
				method: methods,
				data: formData,

				success: function(data)
				{
					document.getElementById("Commentss").innerHTML = "<p>"+data + "</p>" +document.getElementById("Commentss").innerHTML
					


				}




				})

			});
			
	
	
	
		
		
		
		})
</script>

	{% endblock %}