{% extends "personal/header.html" %}
{% block content %}



&nbsp;
&nbsp;
&nbsp;
&nbsp;
{% for i in k %}

<script src="/static/myjs.js">   
</script>


<div class="wrapper"></div>


<p class="Moving-title">{{i.title}}</p>

    <div>

      <ul class="move-list">

        <li  >
          
          <i id = "eyes" class="material-icons">
              remove_red_eye  


              </i>
              
            </li>

              <li >

                
              <i  class ="views-down"> {{i.viewss}}</i>

              </li>


              <li>

                <p>  &nbsp;  &nbsp; </p>

              </li>

              <li>
              <i id ="likes"class="material-icons">favorite</i>

              

              </li>




              

              <li>



              <p>{{i.likes}}</p>

              

              </li>

              


            

            </ul>
    
          
 

</div>
<hr class ="b"  >
 

<div onclick="myFunctions();"class="parent" >
    <div  class="child">


        <i  class="material-icons md-36" >  play_circle_outline </i>

    </div>



    

  
  </div>
</div>





  <script>
  
  

  
  
  
  
  </script>


  <style>


    .wrapper {
  padding: 50px;
}
.parent {
  background: url("{{i.Thumbnail.url}}" );
  box-shadow: 0px 0px 3px #000000;

 
/*   padding: 50px; */
  max-width: 350px;
  min-height: 200px;
  /*height: 200px;*/
  transition: all 300ms ease; 
  position: relative;
  border-radius: 5px;


  

width: 350px;

height: 150px;




  
  /* NEW */
  display: flex; 
  justify-content: center;
  align-items: center;
}
.parent:hover {
  box-shadow: 0px 6px 16px #444444;
  transform: translate(-2px, -4px) scale(1.05);
}
.parent .child {
/*   position: absolute; */

 
  opacity: 0;
/*   bottom: 0px; */
/*   right: 0px; */
  
}

.parent:hover .child {
/*   position: absolute; */
  opacity: 100;
  font-size: 4em;
/*   transform: translate(-100%, -20%); */
}



/* DEBUG HELPER */
/* div { border: solid 1px red !important; } */



#material-icons.md-18 { font-size: 18px; }
#material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px;  color: rgba(255,255,255,0.8);}
.material-icons.md-48 { font-size: 48px; }






    .views-down


    {

      margin-top: -10%;




    }



    .move-list



    {


        margin-top: 65%;

        margin-left: -35%;


    }


  li {
  float: left;


  list-style: none;
}


    .b 


{

margin-top: 210px;

width: 450px;

margin-left: -50px;




}
  
  #Eye-position

{

margin-top: 50%;



}





#likes

{

position:absolute;


}

#eyes


{



  position:absolute;
}





  
  
  
  </style>

<!---<div class="resize" class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img   width="30" height="400" class="resizee" src="{{i.Thumbnail.url}}" alt= "You have problem with your internet connection">
          <span class="card-title">{{i.title}}</span>
        </div>
        <div class="card-content">  
          <p>Descriptions: {{i.descriptions}}</p>
         
           href= "http://127.0.0.1:8000/user/{{i.Author.id}}"  
          <i id="down2" class = "material-icons left"> remove_red_eye   </i> 
         <i> {{i.viewss}}</i>


          <div  id="PeronHood" >
            
            <a>   <i id="PHood" class="material-icons left" >person </i>    </a> 
            <i id="down"> {{i.Author}} </i>
          </div>
          
        </div>
        <div class="card-action">
      <a id= "UnderText" href="http://127.0.0.1:8000/posts/{{i.id}}"  class="waves-effect waves-light btn-small"> <i class="material-icons left" >live_tv</i>    watch the video  </a>           
        </div>
      </div>
    </div>
  </div>


-->
        

<style>

  #down2
  {


    margin-top:1%;


  }

  #down
  {

    margin-top:-50%;
    margin-left:-3%;


  }

  #PeronHood

  {


    
margin-left: 20%; 
margin-top: -5%;


  }


  #UnderText
{

text-decoration: none;
color: #cc7272;


}

  .resize
  {



        
        width: 50%;

  }
  .resizee
  {

    height:1000000;


  }




</style>

        

        
        
        

</div>
&nbsp;
&nbsp;
&nbsp;

    
{% endfor %}

{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}