{% extends "personal/header.html" %}
{% block content %}






<form method='get' action='#'>
  <input type="submit"  class="btn btn-danger" value="Follow" name="Follow"/>
  

</form>






 
{% for i in Trending_Page %}

<div class="resize" class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img   width="30" height="400" class="resizee" src="{{i.Thumbnail.url}}" alt= "You have problem with your internet connection">
        <span class="card-title">{{i.title}}</span>
      </div>
      <div class="card-content">  
        <p>Descriptions: {{i.descriptions}}</p>
       
          <!---  href= "http://127.0.0.1:8000/user/{{i.Author.id}}"  -->
        <i id="down2" class = "material-icons left"> remove_red_eye   </i> 
       <i> {{i.viewss}}</i>


        <div  id="PeronHood" >
          
          <a>   <i id="PHood" class="material-icons left" >person </i>    </a> 
          <i id="down"> {{i.Author}} </i>
        </div>
        
      </div>
      <div class="card-action">
    <a id= "UnderText" href="http://127.0.0.1:8000/posts/{{i.id}}"  class="waves-effect waves-light btn-small"> <i class="material-icons left" >live_tv</i>    watch the video  </a>           
      </div>
    </div>
  </div>
</div>
      

<style>

#down2
{


  margin-top:1%;


}

#down
{

  margin-top:-50%;
  margin-left:-3%;


}

#PeronHood

{


  
margin-left: 20%; 
margin-top: -5%;


}


#UnderText
{

text-decoration: none;
color: #cc7272;


}

.resize
{



      
      width: 50%;

}
.resizee
{

  height:1000000;


}




</style>

      

      
      
      

</div>
&nbsp;
&nbsp;
&nbsp;


{% endfor %}



{% endblock %}