<!doctype html>
<html lang="en">
  <head>


      
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
  <!-- <link type="text/css" rel="stylesheet" href="/static/personal/materialize/css/materialize.min.css"  media="screen,projection"/>  -->
      <link rel="stylesheet" type="text/css" href="/static/mymeme.css" media="screen" />
     <!--- <link  rel="stylesheet" href="/static/personal/materialize/materialize.css" />   -->
     <!---<link  rel="stylesheet" href="/static/personal/materialize.css" /> --->

 <!-- <link  rel="stylesheet" href="/static/materialize.css" />      -->

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="/static/myjs.js">   
      </script>
    






    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="/static/personal/csss/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <div id="app"></div>
    {%load static %}

    <script src = " {%static " frontend/ " %"}"></script>



    <header>



  
  

  
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Twitter</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--- Popper --->
    
    {% block javascript %}


    
  </body>
</html>
